<form class="example-form" [formGroup]="form">
  <mat-form-field>
    <mat-select formControlName="choice" class="custom-select">
      <mat-option value="all">Tous les services</mat-option>
      <mat-option value="breakfast">Déjeuner</mat-option>
      <mat-option value="afternoon">Après midi</mat-option>
      <mat-option value="dinner">Dîner</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="guestNumber" class="custom-select" (openedChange)="onSelectOpen($event)">
      <mat-option *ngIf="!open" value="all">Nombre d'invités</mat-option>
      <mat-option value="1">1 personne</mat-option>
      <mat-option value="2">2 personnes</mat-option>
      <mat-option value="3">3 personnes</mat-option>
      <mat-option value="4">4 personnes</mat-option>
      <mat-option value="5">5 personnes</mat-option>
      <mat-option value="6">6 personnes</mat-option>
      <mat-option value="7">7 personnes</mat-option>
      <mat-option value="8">8 personnes</mat-option>
      <mat-option value="9">9 personnes</mat-option>
      <mat-option value="10">10 personnes</mat-option>
      <mat-option value="11">11 personnes</mat-option>
      <mat-option value="12">12 personnes</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field *ngIf="form.get('guestNumber')?.value !== 'all'">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="selectedDate" [matDatepickerFilter]="dateFilter">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [opened]="isPickerOpen"  ></mat-datepicker>
  </mat-form-field>



  <button mat-raised-button color="primary" (click)="submitForm()">Envoyer</button>
</form>